[Unit]
Description=Conky
BindsTo=xsession-start@%i.service
PartOf=xsession-start@%i.service

[Service]
EnvironmentFile=%h/.xsession.env
Type=simple
ExecStart=/usr/bin/conky
